.dialogue-card {
  max-width: fit-content;
  padding: 35px 50px;

  border-radius: 16px;
  background-color: $white;

  @include screen($sm) {
    padding: 25px;
  }

  &__text {
    height: 165px;
    margin: 15px 0 15px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 8;
    -moz-line-clamp: 8;
    -ms-line-clamp: 8;
    line-clamp: 8;

    overflow: hidden;

    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-style: normal;

    @include screen($sm) {
      margin: 10px 0 50px;
      min-height: fit-content;

      font-size: 12px;
      font-weight: 500;
      line-height: 20px;

      -webkit-line-clamp: 12;
      -moz-line-clamp: 12;
      -ms-line-clamp: 12;
      line-clamp: 12;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include screen($sm) {
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;
    }

    &-text {
      max-width: 50%;

      @include screen($sm) {
        max-width: 100%;
      }

      &__title {
        margin: 0 0 10px;

        color: $black;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        font-style: normal;

        @include screen($sm) {
          margin: 0 0 5px;

          font-size: 16px;
          line-height: 21px;
        }
      }

      &__link {
        margin: 0;
        height: 58px;

        color: $black;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        font-style: normal;

        text-decoration-line: underline;

        opacity: 0.5;
      }
    }

    &-imgbox {
      position: relative;

      width: 120px;
      height: 50px;
    }
  }
}
