.dropdown {
  position: relative;
  padding: 11px 16px;
  min-width: 234px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: $white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  background-color: transparent;

  .merektion &,
  .bpsection & {
    color: $black;

    border: 1px solid rgba(33, 32, 32, 0.4);
  }

  .merektion & {
    background-color: $white;
  }

  @include screen(520px) {
    width: 50%;
    min-width: 167px;
    height: 40px;
    padding: 6px 11px 6px 24px;
  }

  & + & {
    margin-left: 16px;
    margin-right: -2px;

    @include screen(520px) {
      margin-left: 12px;
      margin-right: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    cursor: pointer;

    .merektion &,
    .bpsection & {
      color: $black;
    }

    & span {
      position: relative;
      display: inline-block;
    }

    &.checked span::after {
      content: '';
      position: absolute;
      right: -12px;
      top: -2px;
      width: 8px;
      height: 8px;
      background-color: $accent-color;
      border-radius: 50%;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    background-image: url('../../assets/images/dropdownIcon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 0.3s;

    .merektion &,
    .bpsection & {
      background-image: url('../../assets/images/dropdownIconBlack.svg');
    }
  }

  &__icon.open {
    transform: rotate(-90deg);
  }

  &__body {
    display: none;
    position: absolute;
    left: -1px;
    width: calc(100% + 2px);
    top: 43px;
    z-index: 2;
    padding: 16px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #d8d8d7;
    border-radius: 0 0 8px 8px;
    background-color: $black;

    .merektion &,
    .bpsection & {
      margin: 10px 0 0;

      color: $black;
      background-color: $white;

      border-radius: 8px;
    }
  }

  &__body.open {
    display: block;
  }

  &__item {
    position: relative;
    padding: 4px;
    padding-left: 30px;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;

    &:last-child {
      padding-bottom: 16px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 13px;
      left: 0px;
      width: 12px;
      height: 12px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 2px;

      .merektion &,
      .bpsection & {
        border: 1px solid #9e9d9b;
      }
    }

    &:hover::before {
      border-color: $accent-color;
    }

    &.checked::before {
      content: '✔';
      color: $black;
      font-weight: 900;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      background-color: $accent-color;
    }
  }

  &__item:hover {
    cursor: pointer;
  }

  &__item.selected {
    opacity: 1;
  }

  &__reset {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 16px;
    text-align: center;
    cursor: pointer;

    .merektion &,
    .bpsection & {
      color: #000000;
      opacity: 0.4;
    }

    &::before {
      content: '';
      position: absolute;
      left: -12px;
      right: -12px;
      top: 10px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.4);

      .merektion &,
      .bpsection & {
        background-color: #d8d8d7;
      }
    }
  }
}

.dropdown--roadmap {
  color: $black;
  border: 1px solid rgba(32, 32, 32, 0.4);

  &__header {
    color: $black;
  }

  &__icon {
    background-image: url('../../assets/images/dropdownIconBlack.svg');
  }

  &__body {
    color: $black;
    background-color: $country-bg;
    border: 1px solid rgba(32, 32, 32, 0.4);
  }

  &__item::before {
    border: 1px solid rgba(32, 32, 32, 0.4);
  }

  &__reset {
    color: rgba(32, 32, 32, 0.8);
    &::before {
      background-color: rgba(32, 32, 32, 0.4);
    }
  }
}
