.roadmap-hero-card {  
  position: relative;
  width: 100%;
  min-height: 720px;
  color: $white;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__bg { 
    min-height: 720px;   
    padding: 180px 96px 96px 96px;
    background-image: url("../../assets/images/roadmap-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;

    @include screen($sm) {
      padding: 140px 16px 24px 16px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;        
    margin-bottom: 24px;

    @include screen($lg) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    @include screen($sm) {
      margin-bottom: 16px;
    }
  }

  &__location {
    display: flex;
    align-items: center;

    @include screen($sm) {
      padding-bottom: 16px;
    }
  }
  

  &__location__country {
    padding-left: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    @include screen($sm) {
      font-size: 14px;
      line-height: 27px;
    }
  }

  &__location__region {
    padding-right: 126px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    @include screen($sm) {
      font-size: 14px;
      line-height: 27px;
    }
  }

  &__dot {
    padding: 0 8px;
    line-height: 30px;
    text-align: center;
  }

  &__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    padding: 8px 16px;
    margin: 0;
    color: $white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    
    @include screen($sm) {
      padding-bottom: 8px;
    }

    &--day {
      position: relative;
      padding-right: 20px;

      @include screen($sm) {
        padding-right: 12px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 8px;
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $accent-color;

        @include screen($sm) {
          background-color: $main-bg-color;
          right: 4px;
        }
      }
    }
  }

  &__title {
    max-width: 534px;
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;

    @include screen($sm) {
      max-width: 343px;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }

  &__description {
    max-width: 467px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;

    @include screen($sm) {
      max-width: 343px;
      font-size: 14px;
      line-height: 27px;
      margin-bottom: 32px;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    width: 152px;
    height: 55px;
    padding: 13px 24px;
    background-color: $accent-color;
    border-radius: 11px;
    font-weight: 700;
    color: $black;

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $press-color;
    } 

    @include screen($sm) {
      font-size: 14px;
    }
  }
  
  &__arrow {
    width: 48px;
    padding-left: 24px;
  }
}