.waveOrange {  
  &__wrapper {
    position: absolute;
    z-index: 5;
    top: 3820px;
    margin: 0;
    overflow: hidden;
    background: $accent-color;
    width: 100%;
    height: 200px;

    @include screen(620px) {
      top: 3930px;
      height: 100px;
    }
  }
  
  &__container {
    position: relative;
    height: 100px;
    background: $country-bg;

    @include screen(620px) {
      height: 50px;
    }
  }
  
  &__wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: $country-bg;
    animation: beWavyOrange 5s infinite linear;

    @include screen(620px) {
      height: 50px;
      animation: beWavyOrangeMobile 5s infinite linear;
    }
  }
  
  &__wave::before, &__wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
  }
  
  &__wave::before {
    height: 105%;
    background-color: $accent-color;
    right: -1.5%;
    top: 60%;
    animation: beWavyBeforeOrange 5s infinite step-end;
  }
  &__wave::after {
    height: 100%;
    background-color: $country-bg;
    left: -1.5%;
    top: 40%;
    animation: beWavyAfterOrange 5s infinite step-end;
  }
  
  
  @keyframes beWavyOrange {
    0% {
      animation-timing-function: ease-in;
      height: 100px;
    }
    25% {
      animation-timing-function: ease-out;
      height: 0;
    }
    50% {
      animation-timing-function: ease-in;
      height: 100px;
    }
    75% {
      animation-timing-function: ease-out;
      height: 0;
    }
    100% {
      animation-timing-function: ease-in;
      height: 100px;
    }
  }

  @keyframes beWavyOrangeMobile {
    0% {
      animation-timing-function: ease-in;
      height: 50px;
    }
    25% {
      animation-timing-function: ease-out;
      height: 0;
    }
    50% {
      animation-timing-function: ease-in;
      height: 50px;
    }
    75% {
      animation-timing-function: ease-out;
      height: 0;
    }
    100% {
      animation-timing-function: ease-in;
      height: 50px;
    }    
  }
  
  @keyframes beWavyBeforeOrange {
    25% {
      background-color: $country-bg;
      height: 100%;
      top: 40%;
      border-radius: 50% 100%;
    }
    75% {
      background-color: $accent-color;
      height: 105%;
      top: 60%;
      border-radius: 100% 50%;
    }
  }
  
  @keyframes beWavyAfterOrange {
    25% {
      background-color: $accent-color;
      height: 105%;
      top: 60%;
      border-radius: 50% 100%;
    }
    75% {
      background-color: $country-bg;
      height: 100%;
      top: 40%;
      border-radius: 100% 50%;
    }
  }
}