.arktion {
  background-color: $white;

  &__center {
    position: relative;
    max-width: 1440px;
    padding: 105px 176px;
    margin: 0 auto;

    @include screen($lg) {
      padding: 75px 16px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    color: $black;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;

    @include screen($sm) {
      margin-bottom: 16px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__slider {
    margin-bottom: 32px;

    @include screen($sm) {
      margin-bottom: 16px;
    }   
  }

  &__slider-nav {
    display: flex;
    justify-content: center;
    width: 215px;
    margin: 0 auto;

    @include screen($sm) {
      width: 183px;
    }
  }

  .slider-nav__btn:hover {
    border: 1px solid #ddd !important;
  }

}
