.ifktion {
  position: relative;
  display: flex;
  height: 800px;
  padding: 14px 0 6px;
  padding-left: calc(50vw - 720px);
  border-radius: 16px;
  margin-bottom: 7px;  
  background-color: $white;

  @include screen($lg) {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    height: auto;
  }

  @include screen($sm) {
    border-radius: 8px;
    margin-bottom: 4px;
  }
  
  &__center {
    width: 100%;
    max-width: 720px;
    padding: 0 96px;

    @include screen($xxl) {
      padding: 0 32px 0 60px;
    }

    @include screen($lg) {
      width: 100%;
      max-width: 100%;
      padding: 0 16px 60px 16px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    padding-top: 80px;
    font-size: 48px;
    line-height: 48px;
    color: $black;

    @include screen($lg) {
      margin-bottom: 32px;
      padding-top: 32px;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
    }

    @include screen($sm) {
      text-align: left;
    }
  }

  &__imgbox { 
    position: relative;
    width: 50%;
    height: 780px;
    border-radius: 16px;
    overflow: hidden;

    @include screen($lg) {
      width: 100%;
      height: 394px;
      margin-bottom: 32px;
    }
  }

  &__imgbox * {
    position: unset !important;
  }
  
  &__img {
    object-fit: cover;
    object-position: 0 0;
    width: 100% !important;
    position: relative !important;
    height: 780px !important;

    @include screen($lg) {
      height: 394px !important;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 528px; 

    @include screen($lg) {
      margin: 0 auto;
    }
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-bottom: 32px;

    @include screen($lg) {
      margin-bottom: 24px;
    }
  }

  &__input-wrapper input {
    width: 100%;
    height: 48px;
    
    padding: 9px 16px;  
    border-radius: 4px;
    border: 1px solid rgba(32, 32, 32, .5);
  }

  &__input-wrapper input:focus {
    border: 1px solid rgba(32, 32, 32, 1);
    outline: 0;
  }

  &__half-input {
    width: calc(50% - 12px);

    @include screen($lg) {
      width: 100%;
    }
  }

  &__input-wrapper &__placeholder {
    position: absolute;
    top: 1px;
    left: 16px;
    z-index: 1;
    line-height: 46px;
    pointer-events: none;
  }
  
  &__input-wrapper &__placeholder::before {
    content: attr(data-placeholder);
    color: rgba(32, 32, 32, .5);
  }
  
  &__input-wrapper &__placeholder::after {
    content: " *";
    position: absolute;
    color: $accent-color;
    font-size: 18px;
    top: -1px;
    right: -9px;
  }
  
  &__input-wrapper input:focus + &__placeholder {
    top: -7px;
    padding: 0 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $accent-color;
    background-image: linear-gradient(to top, transparent 32%, #fff 32%);
  }

  &__input-wrapper input:focus + &__placeholder::before {
    color: $accent-color;
  }

  &__input-wrapper input:focus + &__placeholder::after {
    font-size: 14px;
    top: -3px;
    right: -2px;
  }

  &__input-wrapper input.invalid {
    border-color: #E14848;
  }

  &__input-wrapper input.invalid + &__placeholder {
    top: -7px;
    padding: 0 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    background-image: linear-gradient(to top, transparent 32%, #fff 32%);
  }

  &__input-wrapper input.invalid + &__placeholder::before {
    color: #E14848;
  }

  &__input-wrapper input.invalid + &__placeholder::after {
    color: #E14848;
    font-size: 14px;
    top: -3px;
    right: -2px;
  }

  &__input-wrapper input:valid + &__placeholder {
    top: -7px;
    padding: 0 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    background-image: linear-gradient(to top, transparent 32%, #fff 32%);
  }

  &__input-wrapper input:valid + &__placeholder::before {
    color: rgba(32, 32, 32, .5);
  }

  &__input-wrapper input:valid + &__placeholder::after {
    display: none;
  }

  &__form-subtitle {
    width: 100%;
    margin-bottom: 8px;
    line-height: 30px;
    font-weight: 600;
    font-size: 16px;
  }

  &__select {
    width: 100%;
    height: 48px;
    padding: 9px 16px;
    margin-bottom: 48px;
    border-radius: 4px;
    border: 1px solid rgba(32, 32, 32, .5);
    font-weight: 400;
    font-size: 16px;
    color: rgba(32, 32, 32, .5);
  }

  &__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    width: 142px;
    height: 56px;
    border-radius: 8px;
    padding: 16px 24px;
    background-color: $accent-color;
    border: 0;
    outline: 0;
    border-radius: 11px;
    font-weight: 700;
    font-size: 16px;
    color: $black;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $press-color;
    }
  }

  &__modal {
    display: none;
  }

  &__modal.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 11;
    top: 8px; bottom: 0; left: 0; right: 0;
    border-radius: 16px;
    background-color: rgba(32, 32, 32, .7);
  }

  &__notification {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 482px;
    height: 406px;
    padding: 58px;
    border-radius: 16px;
    background-color: $white;

    @include screen($sm) {
      width: 344px;
      height: 365px;
      padding: 58px;
      margin-top: -250px;
    }
  }

  &__modal-title {
    margin: 32px auto 12px;
    padding: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;

    @include screen($sm) {
      margin: 24px auto 12px;
      font-size: 32px;
    }
  }

  &__modal-description {
    max-width: 288px;
    margin-bottom: 32px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;

    @include screen($sm) {
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 27px;
    }
  }

  &__modal-button {
    width: 170px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    border: 1px solid rgba(32, 32, 32, .4);
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
  }

  &__modal-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -36px;
    right: 4px;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:before, &:after {
      position: absolute;
      left: 9px;
      content: ' ';
      height: 20px;
      width: 1px;
      background-color: #fff;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
