.inktion {
  background-color: $country-bg;
  height: 715px;  
  border-radius: 16px;
  margin-bottom: 7px;

  @include screen($sm) {
    height: auto;
    border-radius: 8px;
    margin-bottom: 4px;
  }
  
  &__center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 110px 292px 136px;
    margin: 0 auto;
    max-width: 1440px;
    
    @include screen($lg) {
      padding: 96px 16px;     
    }

    @include screen($sm) {
      padding: 70px 16px 80px;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    max-width: 850px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 92px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: $black;

    @include screen($sm) {
      max-width: 100%;
      margin-bottom: 32px;
      padding-top: 68px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__description {
    position: relative;
    z-index: 2;
    max-width: 430px;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $black;

    @include screen($sm) {
      max-width: 100%;
      margin: 0;
      margin-bottom: 24px;
      padding: 0;
      font-weight: 500;
      font-size: 14px;
    }
  }
  
  &__link {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 24px;
    font-weight: 700;
    font-size: 16px;
    color: $white;
    border-radius: 8px;
    background-color: $black;
    border: 1px solid rgba(33, 32, 32, 0.4);
    cursor: pointer;
    transition: .3s;

    & svg {
      margin-left: 16px;
    }

    &:hover {
      color: $black;
      background-color: $white;
    }

    &:active {
      color: $white;
      background: rgba(33, 32, 32, 0.8);
    }
  }

  &__message {
    position: absolute;
    width: 46px;
    height: 44px;
    background-image: url("../../../assets/images/message.svg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__icon {
    position: absolute;
    top: 110px;
    left: calc(50% - 23px);
    z-index: 1;
    width: 46px;
    height: 44px; 
    background-image: url("../../../assets/images/shapeInvolvedAnimate.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
  }
}
