.mevidection {
  background-color: $white;
  border-radius: $section-radius;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../../assets/images/mediaVideoBg.png');

  @include screen($sm) {
    padding: 60px 0;

    background-position: -725px;
  }

  &__inner {
    display: flex;

    @include screen($sm) {
      position: relative;
    }
  }

  &__left,
  &__right {
    width: 100%;
  }

  &__left {
    padding: 190px 0 0;

    @include screen($sm) {
      padding: 0;
    }
  }

  &__right {
    padding: 140px 0;

    position: relative;

    @include screen($sm) {
      padding: 0;

      top: 145px;
      position: absolute;
    }

    &::after {
      content: '';
      width: 135px;
      height: 135px;

      top: 205px;
      left: -45px;
      position: absolute;

      background-repeat: no-repeat;
      background-image: url('../../../assets/images/bubbleGroup.png');

      z-index: 2;

      @include screen($sm) {
        top: 25px;
        left: 80px;

        width: 50px;
        height: 55px;

        background-image: url('../../../assets/images/bubbleGroupSmall.svg');
      }
    }

    &__bubble {
      right: 40px;
      bottom: 80px;
      position: absolute;

      z-index: 0;

      @include screen($sm) {
        width: 35%;

        right: 55px;
        bottom: -65px;
      }
    }
  }

  &__suptitle {
    margin: 0 0 35px;

    gap: 5px;
    display: inline-flex;
    align-items: center;

    color: $black;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;

    opacity: 0.8;

    @include screen($sm) {
      margin: 0 0 20px;

      font-size: 14px;
      line-height: 27px;
    }
  }

  &__title {
    width: 100%;
    max-width: 500px;
    margin: 0 0 45px;

    color: $black;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    font-style: normal;

    @include screen($sm) {
      margin: 0 0 335px;

      font-size: 32px;
      line-height: 32px;
    }
  }

  &__text {
    max-width: 495px;
    margin: 0 0 40px;

    color: $black;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;

    opacity: 0.8;

    @include screen($sm) {
      margin: 0 0 30px;

      font-size: 14px;
      line-height: 27px;
    }
  }

  &__link {
    padding: 12px 25px;
    display: inline-block;

    gap: 15px;
    align-items: center;
    display: inline-flex;

    color: $black;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;

    border-radius: 8px;
    background-color: $white;
    border: 1px solid rgba(33, 32, 32, 0.4);

    transition: all 0.25s ease-in-out;

    @include screen($sm) {
      padding: 15px 25px;

      font-size: 14px;
      line-height: 27px;
    }

    &:hover {
      color: $white;
      background-color: $black;
    }
  }

  &__videopreview {
    width: 530px;
    height: 530px;

    position: relative;

    border-top-left-radius: 545px;
    border-top-right-radius: 480px;
    border-bottom-right-radius: 555px;
    border-bottom-left-radius: 460px;

    overflow: hidden;

    z-index: 1;

    @include screen($sm) {
      margin: 0 auto;

      width: 280px;
      height: 280px;
    }

    &::after {
      content: '';

      width: 100%;
      height: 100%;

      top: 0;
      left: 0;
      position: absolute;

      background: linear-gradient(
        180deg,
        rgba(33, 32, 32, 0.74) 0%,
        rgba(0, 0, 0, 0) 100%,
        rgba(33, 32, 32, 0) 100%
      );
      transform: rotate(-90deg);

      z-index: 1;
    }

    .vection__center__video__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.9);

      z-index: 3;

      @include screen($sm) {
        transform: translate(-50%, -50%) scale(0.9);
      }
    }
  }
}
