.micarection {
  padding: 65px 0 170px;

  overflow: hidden;

  @include screen($sm) {
    padding: 35px 0 60px;
  }

  &__cards {
    margin: 0 0 120px;

    gap: 30px;
    display: flex;

    @include screen($sm) {
      margin: 0 0 60px;

      flex-direction: column;
    }
  }

  &__card {
    width: 100%;

    &-wrap {
      min-height: 369px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include screen($sm) {
        min-height: 295px;
      }
    }

    &__top {
      &__text {
        margin: 0;

        color: $black;
        font-size: 48px;
        font-weight: 600;
        line-height: 48px;
        font-style: normal;

        @include screen($sm) {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }

    &__bottom {
      &--flex {
        gap: 50px;
        display: flex;

        @include screen($sm) {
          gap: 25px;
        }
      }

      &__text {
        margin: 0;

        color: $black;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        font-style: normal;

        position: relative;

        @include screen($sm) {
          font-size: 14px;
          line-height: 14px;
        }

        &--ml {
          margin: 0 0 0 109px;

          @include screen($sm) {
            margin: 0 0 0 60px;
          }

          &::before {
            content: '';

            width: 10px;
            height: 10px;
            display: inline-block;

            top: 7px;
            left: -35px;
            position: absolute;

            background-repeat: no-repeat;
            background-image: url('../../../assets/images/point.svg');
          }
        }
      }
    }

    &-bottom {
      &__imgs-box {
        width: 50px;
        height: 50px;

        @include screen($sm) {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  &__title {
    margin: 0 0 40px;

    color: $black;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    font-style: normal;

    @include screen($sm) {
      margin: 0 0 25px;

      font-size: 32px;
      line-height: 32px;
    }
  }

  &__subtitle {
    width: 100%;
    margin: 0 0 60px;
    max-width: 610px;

    color: $black;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;

    opacity: 0.8;

    @include screen($sm) {
      margin: 0 0 25px;

      font-size: 14px;
      line-height: 26px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include screen($sm) {
      gap: 10px;
      flex-direction: column;
    }
  }

  &__left {
    width: 100%;
    max-width: 365px;

    gap: 25px;
    display: flex;
    flex-direction: column;

    flex-shrink: 0;

    @include screen($sm) {
      width: 100%;
      min-width: 100%;
      padding: 0 0 5px;

      gap: 15px;
      flex-direction: row;

      overflow-x: scroll;
    }
  }

  &__right {
    width: 708px;
    height: 482px;

    flex-shrink: 0;

    @include screen($sm) {
      width: 350px;
      height: 310px;
      margin: 0 auto;
    }
  }

  &__schema {
    width: 100%;
    height: 100%;

    position: relative;

    &::after {
      content: '';

      display: block;

      top: -70px;
      left: 35px;
      position: absolute;

      width: 655px;
      height: 640px;

      background-repeat: no-repeat;
      background-image: url('../../../assets/images/schemaBg.png');

      z-index: 0;

      @include screen($sm) {
        width: 340px;
        height: 340px;

        top: 0;
        left: 0;

        background-size: contain;
      }
    }

    &__top {
      top: -40px;
      left: 250px;
      position: absolute;

      z-index: 1;

      @include screen($sm) {
        top: -10px;
        left: 85px;
        transform: scale(0.5);
      }

      > p {
        margin: 0;

        top: 50%;
        left: 50%;
        position: absolute;

        color: $white;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        font-style: normal;

        transform: translate(-50%, -50%);
        transition: all 0.25s ease-in-out;
      }
    }

    &__left {
      left: 60px;
      bottom: 0;
      position: absolute;

      z-index: 1;

      @include screen($sm) {
        height: fit-content;

        top: 150px;
        left: -30px;

        transform: scale(0.5);
      }

      > p {
        margin: 0;

        top: 50%;
        left: 50%;
        position: absolute;

        color: $white;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        font-style: normal;

        transform: translate(-50%, -50%);
        transition: all 0.25s ease-in-out;
      }
    }

    &__right {
      right: 25px;
      bottom: 50px;
      position: absolute;

      z-index: 1;

      @include screen($sm) {
        height: fit-content;

        top: 115px;
        right: -40px;

        transform: scale(0.5);
      }

      > p {
        margin: 0;

        top: 50%;
        left: 50%;
        position: absolute;

        color: $white;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        font-style: normal;

        transform: translate(-50%, -50%);
        transition: all 0.25s ease-in-out;
      }
    }

    &__center {
      margin: 0;
      width: 245px;
      height: 240px;

      top: 50%;
      left: 50%;
      position: absolute;

      transform: translate(-50%, -50%);

      color: $black;
      font-size: 32px;
      font-weight: 600;
      line-height: 32px;
      font-style: normal;

      display: flex;
      align-items: center;
      text-align: center;

      background-repeat: no-repeat;
      background-image: url('../../../assets/images/micarectionBubble.svg');

      z-index: 1;

      @include screen($sm) {
        top: 50%;
        transform: translate(-50%, -50%) scale(0.5);
      }
    }

    &__arrow {
      &--l {
        top: 45px;
        left: 30px;
        position: absolute;

        @include screen($sm) {
          top: -10px;
          left: -55px;

          transform: scale(0.5);
        }
      }

      &--r {
        top: 35px;
        right: 90px;
        position: absolute;

        @include screen($sm) {
          top: 0;
          right: -15px;

          transform: scale(0.5);
        }
      }

      &--b {
        left: 255px;
        bottom: -90px;
        position: absolute;

        @include screen($sm) {
          left: 55px;
          bottom: -75px;

          transform: scale(0.5);
        }
      }
    }
  }
}
