.mihero {
  padding: 260px 0 160px;

  background-image: url('../../../assets/images/missionHeroBg.png');
  background-size: cover;
  background-position: center;

  border-radius: $section-radius;

  position: relative;

  overflow: hidden;

  @include screen($sm) {
    padding: 260px 0 60px;
    background-position: 675px;

    & .hero__panel {
      width: 100%;
      max-width: 360px;

      &__text {
        font-size: 16px;
      }
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    position: absolute;

    background-image: url('../../../assets/images/missionHeroBgGradient.png');
    background-size: cover;
    background-position: left;

    z-index: 0;

    @include screen($sm) {
      background-image: none;
      background: linear-gradient(
        60.69deg,
        #212020 1.65%,
        rgba(33, 32, 32, 0) 79.81%
      );
      filter: blur(4px);
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__suptitle {
    margin: 0 0 35px;
    max-width: 600px;

    color: $white;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    font-style: normal;

    opacity: 0.8;

    @include screen($sm) {
      margin: 0 0 20px;

      line-height: 27px;
      font-style: normal;

      opacity: 0.6;
    }
  }

  &__title {
    margin: 0 0 50px;
    max-width: 600px;

    color: $white;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    font-style: normal;

    @include screen($sm) {
      margin: 0 0 30px;

      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
    }
  }

  .hero__panel {
    margin: 0;
  }
}
