.parection {
  padding: 140px 0;

  background: $white;
  border-radius: $section-radius;

  @include screen($sm) {
    padding: 60px 0;

    border-radius: $section-radius-mobile;
  }

  &__title {
    margin: 0 0 65px 0;

    color: $black;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    font-style: normal;

    @include screen($sm) {
      margin: 0 0 25px 0;

      font-size: 32px;
      line-height: 32px;
    }
  }

  &__cards {
    margin: 0;
    padding: 0;

    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    list-style: none;

    @include screen($sm) {
      gap: 10px;
      grid-template-columns: 1fr;
    }
  }

  &-card {
    padding: 25px 25px 25px;

    border-radius: 16px;
    background-color: $white;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);

    @include screen($sm) {
      padding: 30px 15px 15px;
    }

    &__list {
      min-height: 105px;
      margin: 0 0 25px 0;

      gap: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;

      @include screen($sm) {
        margin: 0 0 25px 0;
      }

      &-imgbox {
        flex: 1 0 21%;
        max-width: 190px;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__type {
        margin: 0;

        color: $black;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        font-style: normal;

        opacity: 0.4;
      }

      &__num {
        margin: 0;

        color: $black;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        font-style: normal;

        opacity: 0.4;
      }
    }
  }
}
