.rektion {
  background-color: $black;
  border-radius: 16px;

  @include screen($sm) {
    border-radius: 8px;
  }

  &__center {
    position: relative;
    max-width: 1440px;
    padding: 141px 96px 91px;
    margin: 0 auto;
    @include screen($lg) {
      padding: 60px 16px;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 48px;

    @include screen($xxl) {
      flex-direction: column;
      margin-bottom: 24px;
    }
  }

  &__container {
    display: flex;
  }

  &__title {
    margin: 0;
    margin-right: auto;
    padding: 0;
    color: $white;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;

    @include screen($xxl) {
      margin-bottom: 24px;
      margin-left: auto;
      text-align: center;
    }

    @include screen($sm) {
      max-width: 152px;
      font-size: 32px;
      line-height: 32px;
      margin: 0 0 24px 0;
    }
  }

  &__slider {
    min-height: 386px;
    margin: 0;
    margin-bottom: 48px;

    @include screen($sm) {
      margin-bottom: 55px;
    }   
  }

  &__slider-nav {
    display: flex;
    justify-content: center;
    width: 215px;
    margin: 0 auto;

    @include screen($lg) {
      width: 200px;
    }

    @include screen($sm) {
      top: 558px;
    }
  }

  &__none {
    display: none;
  }

  &__cards { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__wrapper {
    height: 794px;
    margin-bottom: 20px;
    overflow-y: hidden; 

    &.full {
      height: 100%;
      overflow-y: visible;
    }
  }

  &__button {
    display: block;
    width: 170px;
    height: 50px;
    margin: 0 auto;
    background-color: transparent;
    color: $white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    transition: .3s;

    &:hover {
      background-color: $white;
      color: $black;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.15);
      color: $white;
    }
  }
}

#recktionSlider {
  @include screen(630px) {
    max-width: 395px;
  }
  @include screen($sm) {
    max-width: 343px;
  }
}
