.ruaektion {
  background-color: $country-bg;

  &__center {
    position: relative;
    max-width: 1440px;
    padding: 104px 96px 100px 96px;
    margin: 0 auto;
    @include screen($lg) {
      padding: 60px 16px 0 16px;
    }
  }

  &__title {
    margin: 0 0 48px 0;
    padding: 0;
    color: $black;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    @include screen($lg) {
      text-align: center;
    }
    @include screen(525px) {
      font-size: 32px;
      line-height: 32px;
      margin: 0 0 24px 0;
    }
  }

  &__wrapper {
    height: 866px;
    margin-bottom: 48px;
    overflow-y: hidden;   
    @include screen($sm) {
      margin-bottom: 24px;
      height: 850px;
      overflow-y: hidden;
    }
    &.full {
      height: 100%;
      overflow-y: visible;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px; 
     
    @include screen($sm) {
      gap: 16px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 56px;
    margin: 0 auto;
    border: 1px solid rgba(33, 32, 32, 0.4);
    border-radius: 8px;
    background-color: transparent;
    font-weight: 700;
    transition: .5s;
    &:hover {
      color: $white;
      background-color: $black;
    }
    &:active {
      color: $white;
      opacity: .8;
    }
    @include screen($sm) {
      height: 50px;
      font-size: 14px;
    }
  }
}
