.rtektion {
  position: relative;
  height: 5025px;  
  border-radius: 16px;
  background: linear-gradient($black,  $black 2812px, $country-bg 2812px, $country-bg 3892px, $accent-color 3892px, $accent-color); 

  @include screen(620px) {
    height: 4780px;  
    border-radius: 8px;
    background: linear-gradient($black,  $black 2688px, $country-bg 2688px, $country-bg 3963px, $accent-color 3963px, $accent-color); 
  }
 
  &__center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;    
    padding: 100px;
    margin: 0 auto;
    max-width: 1440px;
    background: url("../../../assets/images/roadmapWave1.png") top 170px left 62px /auto no-repeat, url("../../../assets/images/roadmapWave2.png") top 410px left 447px /auto no-repeat, url("../../../assets/images/roadmapWave3.png") top 2040px left 0px /auto no-repeat, url("../../../assets/images/roadmapWave4.png") top 2379px left 314px /auto no-repeat, url("../../../assets/images/roadmapWave5.png") top 4535px left 466px /auto no-repeat;
    
    @include screen($lg) {
      padding: 96px 16px;     
    }

    @include screen(620px) {
      padding: 60px 16px;
    }
  }

  &__road {
    position: absolute;
    z-index: 6;
    top: 400px; bottom: 0; left: 0; right: 0;
    pointer-events: none;
    background-image: url("../../../assets/images/road.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 100px 0;

    @include screen($xxl) {
      background-position: 25px 0;
      background-size: 100% 95%;
    }

    @include screen(620px) {
      top: 315px;
      background-image: url("../../../assets/images/mRoad.png");
      background-position: 25px 0;
      background-size: 95% 97%;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    max-width: 850px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: $white;

    @include screen(620px) {
      max-width: 100%;
      margin-bottom: 32px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__description {
    position: relative;
    z-index: 2;
    max-width: 430px;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $white;

    @include screen(620px) {
      max-width: 100%;
      margin: 0;
      margin-bottom: 24px;
      padding: 0;
      font-weight: 500;
      font-size: 14px;
    }
  } 
}
