.rtektion {
  height: 5025px;  
  border-radius: 16px;
  background: linear-gradient($black,  $black 2812px, $country-bg 2812px, $country-bg 3892px, $accent-color 3892px, $accent-color);
  

  @include screen($sm) {
    height: auto;
    border-radius: 8px;    
  }
  
  &__center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;    
    padding: 100px;
    margin: 0 auto;
    max-width: 1440px;
    background: url("../../../assets/images/roadmapWave1.png") top 170px left 62px /auto no-repeat, url("../../../assets/images/roadmapWave2.png") top 410px left 447px /auto no-repeat, url("../../../assets/images/roadmapWave3.png") top 2043px left -125px /auto no-repeat, url("../../../assets/images/roadmapWave4.png") top 2379px left 314px /auto no-repeat, url("../../../assets/images/roadmapWave5.png") top 4535px left 466px /auto no-repeat;
    border: 1px solid red;
    
    @include screen($lg) {
      padding: 96px 16px;     
    }

    @include screen($sm) {
      padding: 70px 16px 80px;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    max-width: 850px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: $white;

    @include screen($sm) {
      max-width: 100%;
      margin-bottom: 32px;
      padding-top: 68px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__description {
    position: relative;
    z-index: 2;
    max-width: 430px;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $white;

    @include screen($sm) {
      max-width: 100%;
      margin: 0;
      margin-bottom: 24px;
      padding: 0;
      font-weight: 500;
      font-size: 14px;
    }
  } 
}
