.rhektion {
  position: relative;
  overflow-y: hidden;
  z-index: 0;
  margin-top: -106px;

  @include screen(865px) {
    margin-top: -116px;
  }

  @include screen($sm) {
    height: 670px;
    border-radius: 8px;
  }

  &__slider--wrapper {
    display: flex;
    justify-content: flex-start; 
    padding-left: calc((50vw - 720px) + 85px);
    max-width: 100vw;
    margin-bottom: 104px;  
    overflow-x: hidden;

    @include screen(1440px) {
      max-width: 100%;
      padding-left: 96px;
      margin-bottom: 104px;  
      overflow-x: hidden;
    }

    @include screen(1200px) {
      width: 100%;
      justify-content: center;
      padding-left: 96px;
      padding-right: 96px;
      overflow-x: visible;
    }

    @include screen($lg) {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 132px;
    }  

    @include screen(525px) {
      margin-bottom: 115px;
    } 
  }

  &__slider {
    margin: 0 auto;
  }

  &__slider-nav {
    position: absolute;
    z-index: 10;
    bottom: 95px;
    right: 95px;
    display: flex;
    justify-content: center;
    width: 215px;

    @include screen(595px) {
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include screen($sm) {
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

