.slection {
  padding: 160px 0 110px;
  padding-left: calc((100% - var(--container-width)) / 2);

  background-color: $black;
  background-repeat: no-repeat;
  background-position: 100px top;
  border-radius: $section-radius;
  background-image: url('../../../assets/images/subheroWaves.svg');

  position: relative;

  @include screen($sm) {
    padding: 60px 0;
    border-radius: $section-radius-mobile;
  }

  &__inner {
    gap: 10%;
    display: grid;
    grid-template-columns: minmax(30%, 40%) 1fr;

    @include screen($sm) {
      display: flex;
      flex-direction: column;
    }
  }

  &__left {
    padding: 0 0 0 15px;

    z-index: 11;

    @include screen($sm) {
      padding: 0 15px;
      margin: 0 0 30px 0;
    }

    &__title {
      margin: 0 0 40px 0;

      font-size: 48px;
      font-weight: 600;
      line-height: 48px;
      font-style: normal;
      color: $accent-color;

      @include screen($sm) {
        font-size: 32px;
        line-height: 100%;
      }
    }

    &__subtitle {
      margin: 0;

      color: $white;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
      font-style: normal;

      opacity: 0.8;

      @include screen($sm) {
        font-size: 14px;
        line-height: 190%;
      }
    }
  }

  &__right {
    width: 100%;
    overflow: hidden;
  }

  &__line {
    width: 10px;
    height: auto;
    margin: 0 auto;

    // bottom: 70px;
    // position: absolute;

    // transform: translateX(-20%);

    .box {
      position: relative;

      svg {
        top: -55px;
        left: -1150px;
        position: absolute;

        @include screen($sm) {
          top: -90px;
          left: -1350px;
        }
      }
    }
  }

  &__slidernav {
    position: relative;

    padding: 15px 0 0 15px;

    z-index: 12;

    @include screen($sm) {
      padding: 40px 0 0;

      display: flex;
      justify-content: center;
    }
  }
}

#slectionSlider {
  padding: 30px 0;
}
