.spaktion {
  background-color: $spaktion-bg;
  height: 800px;  
  border-radius: 16px;
  margin-bottom: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
  overflow: hidden;

  @include screen($xxl) {
    background-position: -500px 150px;
  }

  @include screen($lg) {
    height: 916px;
    background-position: calc(50% + 120px) 340px;
    background-color: $white;
  }

  @include screen($sm) {
    background-position: 38% 135%;
    background-size: auto 690px;
  }
  
  &__center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    padding: 138px 180px 0 0;
    margin: 0 auto;
    max-width: 1440px;
    
    @include screen($lg) {
      align-items: flex-start;
      padding: 96px 16px;     
    }

    @include screen($sm) {
      padding: 60px 16px;
    }
  }

  &__title {
    max-width: 409px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 48px;
    line-height: 48px;
    color: $black;

    @include screen($lg) {
      text-align: left;
    }

    @include screen($sm) {
      max-width: 286px;
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__subtitle {
    max-width: 409px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: $black;

    @include screen($lg) {
      text-align: left;
    }

    @include screen($sm) {
      max-width: 286px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__shape1 {
    position: absolute;
    z-index: 0;
    top: 390px;
    right: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;    
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    background-image: url('../../../assets//images/shapeParticipation1animate.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transform: scale(.1);
    transition: .75s;
    
    @include screen($lg) {
      top: 312px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include screen($sm) {
      top: 235px;
      width: 160px;
      height: 160px;
      margin-left: -10px;
      font-size: 64px;
      line-height: 64px;
    }
  }

  &__number {
    padding-bottom: 5%;
    padding-right: 8%;
  }

  &__shape2 {
    position: absolute;
    top: 570px;
    right: 270px;
    width: 56px;
    height: 60px; 
    background-image: url('../../../assets//images/shapeParticipation2animate.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; 
    
    @include screen($sm) {
      top: 335px;
      right: 64px;
      width: 37px;
      height: 38px; 
    }
  }

  &__shape3 {
    position: absolute;
    top: 471px;
    right: 284px;
    width: 32px;
    height: 36px; 
    background-image: url('../../../assets//images/shapeParticipation3animate.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;  
    
    @include screen($sm) {
      top: 287px;
      right: 85px;
      width: 22px;
      height: 22px; 
    }
  }
}