@import '../../vars';

.tection {
  margin: 5px 0;
  padding: 125px 0 150px;

  background: $black;
  border-radius: $section-radius;

  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url('../../../assets/images/targetWaves.svg');

  &__row {
    margin: 0 0 140px 0;

    gap: 110px;
    display: flex;

    &-left {
      position: relative;

      &::before {
        content: '';

        display: block;

        width: 130px;
        height: 203px;

        top: 25px;
        left: -15px;
        position: absolute;

        background-repeat: no-repeat;
        background-image: url('../../../assets/images/element.svg');
      }

      &__imgbox {
        width: 100%;
        height: auto;

        display: flex;

        overflow: hidden;
        border-radius: 50% 80% 50% 78% / 84% 63% 44% 44%;

        &__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-right {
      &__text {
        width: 100%;
        max-width: 500px;

        &__title {
          margin: 0 0 15px 0;

          color: $white;
          font-size: 48px;
          font-weight: 600;
          line-height: 48px;
          font-style: normal;
        }

        &__subtitle {
          margin: 0 0 35px 0;

          color: $white;
          font-size: 32px;
          font-weight: 600;
          line-height: 32px;
          font-style: normal;
        }

        &__descr {
          margin: 0 0 50px 0;

          color: $white;
          font-size: 16px;
          font-weight: 500;
          line-height: 32px;
          font-style: normal;

          opacity: 0.8;
        }
      }

      &__action {
        padding: 15px 30px 15px 25px;

        gap: 20px;
        display: flex;
        align-items: center;

        color: $white;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        font-style: normal;

        border-radius: 8px;
        background-color: $black;
        border: 1px solid rgba(255, 255, 255, 0.4);

        cursor: pointer;

        transition: all 0.2s ease-in;

        &:hover {
          color: $black;

          background-color: $white;
          border: 1px solid rgba(255, 255, 255, 0.4);
        }

        &:active {
          color: $white;

          background: rgba(255, 255, 255, 0.15);
          border: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  &__targets {
    &__title {
      margin: 0 0 55px 0;

      color: $white;
      font-size: 32px;
      font-weight: 600;
      line-height: 32px;
      font-style: normal;
      text-align: center;
    }

    &__list {
      margin: 0;
      padding: 0;

      display: flex;
      justify-content: space-evenly;

      list-style: none;

      position: relative;

      z-index: 10;

      &::before {
        content: '';

        left: 50%;
        top: -75px;
        position: absolute;

        transform: translateX(-50%);

        width: 1780px;
        height: 243px;

        background-repeat: no-repeat;
        background-image: url('../../../assets/images/targetLine.svg');

        z-index: -1;
      }

      &-item {
        text-align: center;

        &__icon {
          margin: 0 0 25px 0;
        }

        &__num {
          margin: 0 0 20px 0;

          color: $white;
          font-size: 32px;
          font-weight: 600;
          line-height: 32px;
          font-style: normal;
          text-align: center;
        }

        &__text {
          margin: 0;

          color: $white;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          font-style: normal;

          opacity: 0.6;
        }
      }
    }
  }
}
