.uaektion {
  background-color: $country-bg;

  &__center {
    position: relative;
    max-width: 1440px;
    padding: 104px 0 0 96px;
    margin: 0 auto;
    @include screen($lg) {
      padding: 60px 16px 0 16px;
    }
  }

  &__title {
    margin: 0 0 48px 0;
    padding: 0;
    color: $black;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    @include screen($lg) {
      text-align: center;
    }
    @include screen(525px) {
      font-size: 32px;
      line-height: 32px;
      margin: 0 0 24px 0;
    }
  }

  &__slider--wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 104px;  
    overflow-x: hidden;

    @include screen(1440px) {
      max-width: 100%;
      justify-content: flex-start; 
      padding-left: calc(50vw - 624px);
      margin-bottom: 104px;  
      overflow-x: hidden;
    }

    @include screen(1200px) {
      width: 100%;
      padding-left: 96px;
      padding-right: 96px;
      overflow-x: visible;
    }

    @include screen($lg) {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 132px;
    }  

    @include screen(525px) {
      margin-bottom: 115px;
    } 
  }

  &__slider {
    margin: 0 auto;
  }

  &__slider-nav {
    position: absolute;
    top: 112px;
    right: 95px;
    display: flex;
    justify-content: center;
    width: 215px;

    @include screen($lg) {
      top: 598px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 6;
      width: 200px;
    }

    @include screen(525px) {
      top: 558px;
    }
  }
}

#uaecktionSlider {
  @include screen(1024px) {
    width: 608px;
  }

  @include screen(640px) {
    width: 100%;
  } 
}
