.upslection {
  padding: 6px 0 100px;

  overflow: hidden;

  @include screen($sm) {
    padding: 6px 0 60px;
  }

  &__ticker {
    margin: 0 0 100px;

    @include screen($sm) {
      margin: 0 0 60px;
    }
  }

  &__title {
    margin: 0 0 50px;

    color: $black;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    font-style: normal;

    text-align: center;

    @include screen($sm) {
      margin: 0 0 25px;

      font-size: 32px;
      line-height: 32px;
    }
  }

  &__slider {
    padding: 0 15px;

    &__wrapper {
      margin: 0 0 50px;

      @include screen($sm) {
        margin: 0 0 15px;
      }
    }

    &-nav {
      margin: 0;

      display: flex;
      justify-content: center;
    }
  }
}
