.vection {
  padding: 150px 0 170px;

  position: relative;

  &::after {
    content: '';
    width: 482px;
    height: 482px;

    display: block;

    left: 0;
    top: 128px;
    position: absolute;

    background-repeat: no-repeat;
    background-image: url('../../../assets/images/halfCircle.svg');

    z-index: 10;
  }

  &::before {
    content: '';
    width: 330px;
    height: 482px;

    display: block;

    right: 0;
    top: 128px;
    position: absolute;

    background-repeat: no-repeat;
    background-image: url('../../../assets/images/halfCircle2.svg');

    z-index: 0;
  }

  &__inner {
    gap: 90px;
    display: flex;
    align-items: center;
  }

  &__left {
    width: 66%;
    padding: 0 0 0 17%;
  }

  &__title {
    margin: 0 0 50px 0;

    color: $black;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    font-style: normal;
  }

  &__text {
    margin: 0 0 40px 0;

    gap: 25px;
    display: flex;

    color: $black;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    font-style: normal;

    position: relative;

    &::before {
      content: '';

      min-width: 25px;
      height: 25px;

      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../../assets/images/quotes.svg');
    }
  }

  &__author {
    gap: 25px;
    display: inline-flex;
    align-items: flex-start;

    &-avatar {
      width: 62px;
      height: 62px;

      border-radius: 50%;

      overflow: hidden;

      position: relative;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-bio {
      width: 50%;

      &__name {
        margin: 0 0 10px 0;

        color: $black;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        font-style: normal;
      }

      &__text {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        font-style: normal;

        color: $black;

        opacity: 0.6;
      }
    }
  }

  &__egg1 {
    top: 165px;
    position: absolute;
    left: calc(((100vw - var(--container-width)) / 2) + 50px);
  }

  &__egg2 {
    bottom: 185px;
    position: absolute;
    right: calc(((100vw - var(--container-width)) / 2) + 45px);
  }
}
