.vection {
  padding: 150px 0 170px;

  position: relative;

  @include screen($sm) {
    padding: 60px 0 55px;
  }

  &::after {
    content: '';
    width: 482px;
    height: 482px;

    display: block;

    left: 0;
    top: 128px;
    position: absolute;

    background-repeat: no-repeat;
    background-image: url('../../../assets/images/halfCircle.svg');

    z-index: 10;

    @include screen($sm) {
      display: none;
    }
  }

  &::before {
    content: '';
    width: 330px;
    height: 482px;

    display: block;

    right: 0;
    top: 128px;
    position: absolute;

    background-repeat: no-repeat;
    background-image: url('../../../assets/images/halfCircle2.svg');

    z-index: 0;

    @include screen($sm) {
      top: 0;
      right: -275px;
    }
  }

  &__left {
    width: 100%;
    padding: 0 0 0 17%;

    @include screen($sm) {
      padding: 0;
    }
  }

  &__title {
    max-width: 50%;
    margin: 0 0 50px 0;

    color: $black;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    font-style: normal;

    @include screen($sm) {
      max-width: 100%;
      margin: 0 0 35px 0;

      font-size: 32px;
      line-height: 32px;
    }
  }

  &__center {
    position: relative;

    @include screen($sm) {
      display: flex;
      flex-direction: column;

      position: unset;
    }

    &__text {
      max-width: 55%;
      margin: 0 0 40px 0;

      gap: 25px;
      display: flex;

      color: $black;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      font-style: normal;

      position: relative;

      @include screen($sm) {
        max-width: 100%;
        margin: 0 0 30px 0;

        font-size: 16px;
        line-height: 21px;
      }

      &::before {
        content: '';

        min-width: 25px;
        height: 25px;

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../../../assets/images/quotes.svg');
      }
    }

    &__video {
      display: flex;

      width: 100%;
      margin: 0 auto;
      max-width: 276px;

      top: -50%;
      right: 50px;
      position: absolute;

      @include screen($sm) {
        max-width: 200px;
        margin: 0 auto 30px;
        position: unset;
        order: -1;
      }
    }
  }

  &__author {
    gap: 25px;
    display: inline-flex;
    align-items: flex-start;

    @include screen($sm) {
      gap: 15px;
    }

    &-avatar {
      width: 62px;
      height: 62px;

      border-radius: 50%;

      overflow: hidden;

      position: relative;

      @include screen($sm) {
        width: 32px;
        height: 32px;
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-bio {
      width: 50%;

      @include screen($sm) {
        width: 60%;
      }

      &__name {
        margin: 0 0 10px 0;

        color: $black;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        font-style: normal;

        @include screen($sm) {
          font-size: 14px;
          line-height: 14px;
        }
      }

      &__text {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        font-style: normal;

        color: $black;

        opacity: 0.6;
      }
    }
  }

  &__egg1 {
    top: 165px;
    position: absolute;
    left: calc(((100vw - var(--container-width)) / 2) + 50px);

    z-index: 11;
  }

  &__egg2 {
    bottom: 150px;
    position: absolute;
    right: calc(((100vw - var(--container-width)) / 2) + 45px);

    @include screen($sm) {
      right: 0;
      bottom: calc(50% + 100px);
      transform: rotate(-90deg);
    }
  }
}
