.waktion {  
  margin-bottom: 6px;
  border-radius: 16px;
  background-color: $white;
  background-image: url("../../../assets/images/waste-bg.svg");

  @include screen($sm) {
    margin-bottom: 4px;
    border-radius: 8px;
  }
  
  &__center {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 96px;
    padding-top: 161px;     
    
    @include screen($lg) {
      padding: 60px 6px 60px 16px;
      padding-top: 60px;
      display: flex;
      flex-direction: column;
    }    
  }

  &__title {
    order: 0;
    width: 50%;
    max-width: 379px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 35px;
    font-size: 48px;
    line-height: 48px;
    color: $black;

    @include screen($lg) {
      width: 100%;
      max-width: 100%; 
    }

    @include screen($sm) {
      padding-top: 24px;
      margin-bottom: 48px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__description {
    order: 3;
    width: 50%;
    max-width: 467px;
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: $black;

    @include screen($lg) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 0;
    }

    @include screen($sm) {
      margin-bottom: 32px;
      font-size: 14px;
      line-height: 27px;
    }
  }

  &__image-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 131px;
    right: 135px;
    width: calc(50% - 135px);

    @include screen($xxl) {
      right: 96px;
      width: calc(50% - 96px);
    }

    @include screen($lg) {
      order: 2;
      justify-content: center;
      top: 0;
      right: 0;
      position: relative;
      width: 100%;
      max-width: 556px;
      margin: 0 auto 50px;
    }

    @include screen($sm) {
      width: 245px;
      height: 232px;
    }
  }

  &__imgbox {
    position: relative;
    width: 556px;
    max-width: 100%;
    height: 527;
    overflow: hidden;

    @include screen($sm) {
      width: 245px;
      height: 232px;
      margin: 0 auto;
    }
  }

  &__imgbox * {
    position: unset !important;
  }
  
  &__img {
    object-fit: contain;
    object-position: center center;
    width: 100% !important;
    position: relative !important;
    height: 100% !important;    
  }

  &__shape1 {
    position: absolute;
    bottom: -5px;
    right: -124px;
    width: 350px;
    height: 178px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/waste-shape1.svg");

    @include screen($sm) {
      bottom: -2px;
      right: -20px;
      width: 120px;
      height: 80px;
    }
  }

  &__shape2 {
    position: absolute;
    z-index: 2;
    top: 7px;
    left: 70px;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/waste-shape2.svg");

    @include screen($sm) {
      top: 0px;
      left: 20px;
      width: 38px;
      height: 40px;
    }
  }

  &__shape3 {
    position: absolute;
    top: 75px;
    left: 35px;
    width: 32px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/waste-shape3.svg");

    @include screen($sm) {
      top: 30px;
      left: 0px;
      width: 15px;
      height: 15px;
    }
  }
}