.main-layout {
  height: 100vh;
  padding: 15px 0 0;
  height: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  background-color: $main-bg-color;

  &__header-wrap {
    padding: 0 15px;

    @include screen($sm) {
      padding: 0 10px;
    }
  }
}

.countries .main-layout {
  background-color: $black;
}
