// Colors
$white: #ffffff;
$black: #212020;
$grey: #f5f5f5;
$light-grey: #888888;
$dark-grey: #302e2e;
$accent-color: #f9b131;
$main-bg-color: #f5f5f5;

// Breakpoints
$xs: 380px;
$sm: 480px;

// Other
$section-radius: 16px;
$section-radius-mobile: 8px;
