// Colors
$white: #ffffff;
$black: #212020;
$grey: #f5f5f5;
$light-grey: #888888;
$dark-grey: #302e2e;
$accent-color: #f9b131;
$hover-color: #ffa217;
$press-color: #eaa62d;
$main-bg-color: #f5f5f5;
$country-bg: #f1f0ed;
$spaktion-bg: #f6f6f6;

// Breakpoints
$xs: 380px;
$sm: 480px;
$m: 865px;
$lg: 992px;

// Other
$section-radius: 16px;
$section-radius-mobile: 8px;
