@import 'fonts.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'ES Rebond Grotesque', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: normal;
}

a {
  display: inline-block;

  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --container-width: 1278px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--container-width);
}

// PAGES
@import 'pages/index';

// COMPONENTS
@import 'components/map';
@import 'components/header';
@import 'components/footer';
@import 'components/newsTicker';
@import 'components/bubbleCard';
@import 'components/sliderNav';
@import 'components/cardBase';
@import 'components/regionCard';
@import 'components/stakeholdersCard';
@import 'components/newsCardBig';
@import 'components/newsCardSmall';
@import 'components/dialogueCard';
@import 'components/countryPresenceCard';

// SECTIONS
@import 'components/sections/hero';
@import 'components/sections/slection';
@import 'components/sections/cardSection';
@import 'components/sections/wideSliderSection';
@import 'components/sections/targetSection';
@import 'components/sections/sponsorsSection';
@import 'components/sections/bigMapSection';
@import 'components/sections/regionSection';
@import 'components/sections/videoSection';
@import 'components/sections/linksSection';
@import 'components/sections/newsSection';
@import 'components/sections/stakeholdersSection';
@import 'components/sections/joinSection';
@import 'components/sections/partnersSection';
@import 'components/sections/dialoguesSection';
@import 'components/sections/countryPresenceSection';

// LAYOUTS
@import 'components/layouts/mainLayout';
