html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --container-width: 1278px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--container-width);
}

// PAGES
@import 'pages/index';

// PARTIALS
@import 'components/map';
@import 'components/header';
@import 'components/footer';
@import 'components/newsTicker';
@import 'components/bubbleCard';
@import 'components/sliderNav';

// SECTIONS
@import 'components/sections/hero';
@import 'components/sections/slection';

// LAYOUTS
@import 'components/layouts/mainLayout';
